<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    displayMath: [['$$','$$'], ['\\[','\\]']],
    processEscapes: true,
    processEnvironments: true
  },
  CommonHTML: { linebreaks: { automatic: true } },
  "HTML-CSS": { linebreaks: { automatic: true } },
  SVG: { linebreaks: { automatic: true } }
});
</script>

<div class="leetcode-card">
  <div class="problem-header">
    <div class="problem-title">
      {{#ProblemNumber}}{{ProblemNumber}}. {{/ProblemNumber}}{{ProblemTitle}}
    </div>
    {{#PatternTagsBack}}
    <div class="pattern-tags">
      {{PatternTagsBack}}
    </div>
    {{/PatternTagsBack}}
  </div>

  <hr class="lc-divider" />

  {{#KeyInsight}}
  <div class="lc-section key-insight">
    <div class="insight-header">Key Insight</div>
    {{KeyInsight}}
  </div>
  {{/KeyInsight}}

  {{#Derivation}}
  <div class="lc-section derivation">
    <div class="derivation-header">Derivation</div>
    <div class="derivation-content">{{Derivation}}</div>
  </div>
  {{/Derivation}}

  {{#Algorithm}}
  <div class="lc-section algorithm">
    <div class="algorithm-header">Algorithm</div>
    <div class="algorithm-content">{{Algorithm}}</div>
  </div>
  {{/Algorithm}}

  {{#Complexity}}
  <div class="lc-section complexity">
    {{Complexity}}
  </div>
  {{/Complexity}}

  <div class="lc-section links">
    {{#LeetCodeLink}}
    <a href="{{LeetCodeLink}}" class="link">🔗 LeetCode</a>
    {{/LeetCodeLink}}
    {{#ObsidianLink}}
    <a href="{{ObsidianLink}}" class="link">📝 Full Solution</a>
    {{/ObsidianLink}}
  </div>
</div>
